h1{
  color:red;
  font-size: 55px;
  border-style: ridge;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  border-color: black;
}

h2 {
  color:rgb(32, 96, 96);

}

body { 
  background-color: rgb(185, 252, 236);
}

img{
 height: 450px;
 width: 550px;

  }
div{
  background-color: aquamarine;
}

h3{
  font-size: 30px;
}

footer{
  text-align: center;
  background-color: aquamarine;
  padding: 50px;
  margin: 10px;
}
